<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-title {"level":1,"className":"section-title","textAlign":"center"} /-->

<!-- wp:group {"layout":{"type":"constrained"},"tagName":"article","className":"single-post-item section-padding"} -->
<article class="wp-block-group single-post-item section-padding"><!-- wp:post-featured-image {"height":"300px"} /-->

<!-- wp:post-content /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"Etiquetas: "} /-->

<!-- wp:comments /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
